.aa-round-progress{
	position: relative;
	text-align: center;
	display: inline-block;

	.aa-round-circle-container{
		position: absolute;
		width: 100%; height: 100%;
		top: 0; left: 0;

		> * {
			display: inline-block;
			vertical-align: middle;
			line-height: initial;
		}
	}
}