<html ng-app="app">
    <head>
        <title>Aloengular | Smoke</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="aaSmoke.js"></script>
        <script type="text/javascript" src="script.js"></script>
        <style>
            *{ margin:0; }
            html, body{ height: 100%; }

            body {
               background: #000;
            }
        </style>
    </head>
    <body ng-controller="MainController as MainCtrl">
      <canvas id="myCanvas"></canvas>
    </body>
</html>