<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Aloengular | AsyncImages</title>
		<style></style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="aaAsyncImages.js?r=1"></script>
		<script src="../aaEasing/aaEasing.js"></script>
		<script src="../aaRoundProgress/aaRoundProgress.js?r=1"></script>
		<link rel="stylesheet" href="../aaRoundProgress/aaRoundProgress.css">
		<style>
			body { font-family: Arial; font-weight: 100; padding: 0 40px; }
			h1 { margin: 40px 0; }
			#loading{
				position: fixed;
				top: 15%; right: 15%;
			}
			.bg{
				width: 400px; height: 300px; background-size: cover; background-position: center;
				background-image: url('http://reblog.hu/images/loader_profile.gif');
			}
			p{ margin: 60px 0 10px; }
			div{ margin: 10px 0; }
		</style>
	</head>

	<body ng-controller="MainController as MainCtrl">

		<h1>Aloengular | AsyncImages</h1>

		<div id="loading">
			<aa-round-progress
				aa-round-progress-max-value="100"
				aa-round-progress-value="tloadPerc"
				aa-round-progress-stroke-width="5"
				aa-round-progress-color="#369"
				aa-round-progress-back-color="#eee"
				aa-round-progress-size="300"
				aa-round-progress-manual="true"
				aa-round-progress-easing="easeInOutStrong"
			>
				<div>
					Total load: {{ load }} ({{ nloadPerc }} / {{ imgLen }})<br>
					Load Percentage: {{ tloadPerc }}%
				</div>
			</aa-round-progress>
		</div>

		<!-- -->
		<p>
			Basic example
		</p>
		<code>
		</code>
		<div>
			<aa-img src="'universe2'" width="200px"></aa-img>
		</div>

		<!-- -->

		<p>
			Example with async background-image
		</p>

		<div class="bg"
			aa-img background="'universe2.jpg'">
		</div>

		<!-- -->

		<p>
			Example with aaRoundProgress module
		</p>

		<aa-img src="'universe3.jpg'" width="200px" height="200px">
			<div ng-hide="$parent.loaded">
				<aa-round-progress
					aa-round-progress-max-value="100"
					aa-round-progress-value="$parent.loadPerc"
					aa-round-progress-manual="true"
					aa-round-progress-stroke-width="5"
					aa-round-progress-color="#ff0"
					aa-round-progress-back-color="#eee"
					aa-round-progress-size="200"
				>
					<div>
						{{ $parent.currentValue }} -
						{{ $parent.$parent.$parent.loadPerc }}
					</div>
				</aa-round-progress>
			</div>
		</aa-img>

		<!-- -->

		<p>
			Example with dynamic add ad aaRoundProgress module
		</p>

		<button ng-click="circleLoading = !circleLoading;">Add/remove image</button>

		<div style="width: 200px; height: 200px;">
			<aa-img src="'universe3.jpg?r=asda'" width="200px" height="200px" ng-if="circleLoading">
				<div ng-hide="$parent.loaded">
					<aa-round-progress
						aa-round-progress-max-value="100"
						aa-round-progress-value="$parent.loadPerc"
						aa-round-progress-manual="true"
						aa-round-progress-stroke-width="5"
						aa-round-progress-color="#ff0"
						aa-round-progress-back-color="#eee"
						aa-round-progress-size="200"
					>
						<div>
							{{ $parent.currentValue }} -
							{{ $parent.$parent.$parent.loadPerc }}
						</div>
					</aa-round-progress>
				</div>
			</aa-img>
		</div>
		<!-- -->


		<script>
			(function(){
				'use strict';

				angular
					.module('app', [
						'aloengular.asyncImages',
						'aloangular.roundProgress'
					])
					.controller('MainController', ['$scope', '$rootScope', '$aaImg',
						function($scope, $rootScope, $aaImg){
							$scope.load = false;
							$scope.tloadPerc = 0;
							$scope.nloadPerc = 0;
							$scope.imgLen = 0;

							$rootScope.$watch('asyncImages', function(n){ $scope.imgLen = n.length; });

							$aaImg().then(function(){
								$scope.load = true;
							}, function(){}, function(e){
								$scope.tloadPerc = e.percentage;
								$scope.nloadPerc = e.loaded.length;
							});
						}
					])
				;

			})();
		</script>
	</body>
</html>